<h1>Listing users</h1>
<ul>
  <li><b>FQDN</b>: <%= @node[:fqdn] %> </li>
  <li><b>Public FQDN</b>: <%= @node[:ec2][:public_hostname] %> </li>
  <li><b>IP Address</b>: <%= @node[:ipaddress] %> </li>
  <li><b>External IP</b>: <%= @node[:ec2][:public_ipv2] %> </li>
  <li><b>Platform</b>: <%= @node[:platform] %> </li>
  <li><b>Platform Version</b>: <%= @node[:platform_version] %> </li>
</ul>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
